h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top:20px;
}
body{
    background-color: rgb(212, 233, 251);
}
.card{
    max-width: 350px;
    margin:auto;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    background-color: grey;
}
.item{
    border:1px solid rgb(133, 122, 122);
    padding:30px;
    margin:5px;
    border-radius: 10px;
    background-color: rgb(38, 44, 44);
    color:white;
}
input{
    width: 93%;
    height:70px;
    margin:9px;
    border: 2px solid black;
    background-color: rgb(78, 114, 145);
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    
}
.item:hover{
    background-color: rgb(23, 20, 20);
}
